/**
 * Plugin: Minimal Coming Soon & Maintenance Mode
 * Styles for the HTML template
 *
 *
 * --------------------------------------------------------------
 * TABLE OF CONTENTS:
 * --------------------------------------------------------------
 * 1  - Reset
 * 2  - Essentials
 * 3  - Typography
 * 4  - Forms
 * 5  - Plugin
 * 6  - Alerts
 * --------------------------------------------------------------
 *
 *
 * 1 - Reset
 * --------------------------------------------------------------
 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}figure{margin:0}figcaption{text-align:center}img{border:0;-ms-interpolation-mode:bicubic}ul,li{list-style-type:none}img{max-width:100%;height:auto}input{-webkit-border-radius:0;border-radius:0}*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}


/**
 * 2 - Essentials
 * --------------------------------------------------------------
 */

.s-cf:before,.s-cf:after,.s-container:before,.s-container:after{content:' ';display:table}.s-cf:after,.s-container:after{clear:both}.s-cf,.s-container{*zoom:1}.s-hide{display:none}.s-float-right{float:right}.s-float-left{float:left}.s-center-text{text-align:center}.s-left-text{text-align:left}.s-right-text{text-align:right}.s-container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media(min-width:768px){.s-container{max-width:750px}}@media(min-width:992px){.s-container{max-width:970px}}@media(min-width:1200px){.s-container{max-width:1170px}}


/**
 * 3 - Typography
 * --------------------------------------------------------------
 */

body {
	font-family: 'Karla', Arial, sans-serif;
	font-size: 100%;
	line-height: 1.6;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
			hyphens: auto;
}


/**
 * 4 - Forms
 * --------------------------------------------------------------
 */

input[type="text"],
input[type="submit"] {
	font-family: 'Karla', Arial, sans-serif;
	background: transparent;
	border: 1px solid #eeeeee;
	padding: 8px 10px;
	width: 100%;
	font-size: 14px;
	line-height: 1.8;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}
input[type="text"]:focus,
input[type="text"]:active {
	outline: none;
}

/* Buttons */

input[type="submit"] {
	background: #0f0f0f;
	border-color: #0f0f0f;
	color: #ffffff;
	font-size: 12px;
	padding: 8px 20px;
	margin-top: 10px;
	width: auto;
	cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #0a0a0a;
	border-color: #0a0a0a;
}

.gdpr_consent {
  margin: 15px 0 0 0;
}
.gdpr_consent input {
  vertical-align: middle;
}
.gdpr_consent label:hover {
  cursor: pointer;
}


/**
 * 5 - Plugin (Default)
 * --------------------------------------------------------------
 */

a {
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	outline: thin dotted;
}
.maintenance-mode {
	margin: 80px auto;
}
.content {
	position: relative;
	z-index: 10;
}
.logo-container {
	line-height: 0;
  text-align: center;
}
.logo {
	display: inline-block;
	margin: 15px 0;
}
.header-text {
	font-size: 28px;
	line-height: 1.4;
	margin: 15px 0;
}
.secondary-text {
	font-size: 14px;
	margin: 15px 0;
}
.subscription {
	margin: 15px 0;
}
.anti-spam {
	font-size: 11px;
	margin-top: 10px;
	color: #bbbbbb;
}
@media (max-width: 767px) {
	.maintenance-mode {
		margin: 20px auto;
	}
}

/**
 * 6 - Alerts
 * --------------------------------------------------------------
 */

.signals-alert {
	color: #ffffff;
	font-size: 14px;
	padding: 5px 19px 5px 10px;
	margin-bottom: 10px;
}
.signals-alert-success {
	background-color: #90c695;
}
.signals-alert-danger {
	background-color: #e08283;
}

#linkback {
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: small;
  opacity: 0.8;
  width: 600px;
  background-color: rgba(0,0,0,0.33);
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}

#linkback a {
  color: #ffffff;
  text-decoration: underline;
}
